@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

.card-container {
    /* text-align: center; */
    border: .4px solid gray;
    border-radius: 20px;
    margin: 40px 40px 40px 40px;
    box-shadow: 0 0 20px rgba(39, 50, 95, 0.5);
    /*background: linear-gradient(to bottom, rgb(55, 96, 172) 50% #7a9eb4 50%); #abc4eb; */
    background: rgb(32,124,202); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(32,124,202,1) 0%, rgba(32,124,202,1) 53%, rgba(239,239,239,1) 53%, rgba(234,234,234,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(32,124,202,1) 0%,rgba(32,124,202,1) 53%,rgba(239,239,239,1) 53%,rgba(234,234,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(32,124,202,1) 0%,rgba(32,124,202,1) 53%,rgba(239,239,239,1) 53%,rgba(234,234,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}

.card-area {
  padding: 70px 20px 0px 70px;
}

.home-container-header {
    padding: 0px 20px 0px 50px;
    display: flex;   
}

.profile-pic img{
  max-width: 300px;
  max-height: 400px;
  border-radius: 50%;
  border: 6px solid white;
  box-shadow: 0 0 20px rgba(39, 50, 95, 0.5);
    /* max-width: 20%;
    max-height: 30%; */
    /* border: 4px solid blue;; */
    /* display: block;
    margin-left: 10%;
    margin-top: 5%;  */
    /* border: 1px solid black; */
}

.engineer-title {
    text-align: center;
    padding-left: 20%;
}

.engineer-title h1 {
    color: white;
    font-size: 40pt;
}

.engineer-title h2 {
  color: white;
  font-size: 20pt;
  letter-spacing: 4px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}

.home-container-info {
  margin: 0px 0px 50px 70px;
}

.top-card-container{
  margin: 0px 0px 0px 30px;
}

.info-container {
    margin-top: 50px;
}

.page-title {
  color: white;
  padding-bottom: 20px;
}

.das-popup {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.das-popup .das-popup-text {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .das-popup .das-popup-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .das-popup:hover .das-popup-text {
    visibility: visible;
    opacity: 1;
  }

  li {
    list-style: none;
  }